.site-content .content-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 20px 0 40px 0;
}

.site-content .content-wrapper.no-margins {
    margin: 0;
}

.site-content .content-wrapper.wtv-full {
    display: block;
    margin: 20px 0 40px 0;
}

.site-content .content-wrapper.wtv-full .widget-area {
    display: none !important;
}

.site-content .content-area {
    padding: 0 15px 0 0;
    word-break: break-word;
}

.site-content .content-area P {
    padding: 8px 0 !important;
    font-size: 15px;
    text-align: justify;
}

.site-content .widget-area {
    padding: 0 0 0 15px;
}

.site-content .content-wrapper.right {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 20px 0 40px 0;
}

.site-content .content-wrapper.right .content-area {
    padding: 0 0 0 15px;
    word-break: break-word;
    border-left: 1px solid $light-grey-color;
}

.site-content .content-wrapper.right .widget-area {
    padding: 0 15px 0 0;
}


@media(max-width: 997px) {
    .site-content .content-wrapper {
        display: block;
    }

    
    .site-content .content-wrapper.right {
        display: flex;
        flex-direction: column;
    }

    .site-content .content-wrapper.right .widget-area {
        order: 2;
    }

    .site-content .content-wrapper.right .content-area {
        order: 1;
    }

    .site-content .content-wrapper.right .content-area {
        padding: 0;
        border-left: none;
    }
    
    .site-content .content-wrapper.right .widget-area {
        padding: 0;
    }
    

    .site-content .content-wrapper .content-area {
        margin: 0 0 30px 0;
    }

    .site-content .content-wrapper.no-margins {
        margin: 0 !important;
    }

    .site-content .content-wrapper.no-margins .content-area {
        margin: 0 !important;
    }
}

@media(max-width: 767px) {
    .site-content .content-area {
        padding: 0 !important;
    }

    .site-content .widget-area {
        padding: 0 !important;
    }
}

// HOME CONTENT
.content-area .category {
    font-size: .6rem !important;
    color: $secondary-white-color !important;
    margin: 10px 0 5px 0;
}

.content-area .category a {
    color: $secondary-white-color !important;
    padding: 4px 8px !important;
    background: $main-red-color !important;
    border: none;
    border-radius: 3px;
}

.content-area .entry-title {
    padding: 4px 0;
    margin: 0;
}

.content-area .entry-title a {
    font-size: 1.5rem;
    font-weight: weight(normal);
}

.content-area .entry-meta {
    padding: 4px 0;
    margin: 0 0 4px 0;
    font-size: .75rem;
    color: $secondary-black-color;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content-area .entry-meta a {
    font-size: .75rem;
    color: $secondary-black-color;
}

// .content-area .entry-meta span a {
//     padding: 2px;
// }

.content-area .entry-summary {
    padding: 0;
    margin: 0;
}

.content-area .entry-summary p {
    font-size: .85rem;
}

.content-area .read-more-btn-container {
    display: none !important;
}

.content-area .read-more-btn {
    padding: 8px 18px !important;
    margin-top: 12px !important;
    font-size: .75rem !important;
}

.content-area .site-main .post-content {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $light-grey-color;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 10px;
}

.content-area .site-main .post-content .text-container .category {
    padding: 0;
    margin: 0;
}

.content-area .site-main .post-content .text-container .entry-title {
    padding: 4px 0;
    margin: 0;
    line-height: 1;
}

.content-area .site-main .post-content .text-container .entry-title a {
    font-size: 1.15rem;
    font-weight: weight(semi-bold);
}

.content-area .site-main .post-content .text-container .entry-meta {
    font-size: .65rem;
    padding: 2px 0;
}

.content-area .site-main .post-content .text-container .entry-meta a {
    font-size: .65rem;
}

@media( max-width: 992px ) {
    .content-area .site-main .post-content {
        display: block;
        border-bottom: none;
    }

    .content-area .site-main .post-content .text-container .category {
        padding: 5px 0;
        margin: 0 0 5px 0;
    }
}

@media(max-width: 600px) {
    .content-area .read-more-btn-container {
        display: block !important;
    }
}


// SINGLE POST PAGE
.single-post-container .text-container .category {
    font-size: .7rem !important;
    color: $secondary-white-color !important;
    margin: 10px 0 5px 0;
}

.single-post-container .text-container .category a {
    color: $secondary-white-color !important;
    padding: 4px 8px !important;
    background: $main-red-color !important;
    border: none;
    border-radius: 3px;
}

.single-post-container .text-container .category a:hover {
    color: $secondary-white-color !important;
}

.single-post-container .text-container .entry-title {
    padding: 4px 0;
    margin: 0;
    font-size: 1.6rem;
    font-weight: weight(normal);
}

.single-post-container .text-container .entry-meta {
    padding: 0 !important;
    margin: 0 0 4px 0;
    font-size: .75rem;
    color: $secondary-black-color;
    border: none !important;
}

.single-post-container .text-container .entry-meta a {
    font-size: .75rem;
    color: $secondary-black-color;
}

.single-post-container .text-container .entry-meta span a {
    padding: 2px;
}

.single-post-container .text-container .entry-content {
    margin: 14px 0 !important;
    padding: 0 !important;
}

.single-post-container .text-container .entry-content ul,
.single-post-container .text-container .entry-content ol {
    margin-left: 25px;
}

.single-post-container .text-container {
    font-size: 15px !important;
}

// ARCHIVE / SEARCH PAGE
.archive-container .archive-content {
    display: block;
    padding: 5px 0;
    margin: 0 0 5px 0;
}

.archive-container .line {
    width: 100% !important;
    height: 1px !important;
    background: $light-grey-color !important;
    margin: 5px 0 10px 0 !important;
}

.archive-container .line:last-child {
    display: none;
}

@media(max-width: 767px) {
    .archive-container .archive-content {
        margin-bottom: 15px;
    }
}

.archive-container .archive-content .text-container {
    padding: 0;
    margin: 0;
}

.archive-container .archive-content .category {
    font-size: .6rem !important;
    color: $secondary-white-color !important;
    margin: 4px 0 0 0;
}

.archive-container .archive-content .category a {
    color: $secondary-white-color !important;
    padding: 4px 8px !important;
    background: $main-red-color !important;
    border: none;
    border-radius: 3px;
}

.archive-container .archive-content .category a:hover {
    color: $secondary-white-color !important;
}

.archive-container .archive-content .text-container .entry-title {
    padding: 0;
    margin: 0;
    line-height: 26px;
}

.archive-container .archive-content .text-container .entry-title a {
    font-size: 1.15rem;
}

@media(max-width: 600px) {
    .archive-container .archive-content .text-container .entry-title a {
        font-size: 1rem !important;
    }
}

.archive-container .archive-content .text-container .entry-meta {
    padding: 0;
    margin: 0 0 4px 0;
    font-size: .65rem;
    color: $secondary-black-color;
    border: none !important;
}

.archive-container .archive-content .text-container .entry-meta a {
    font-size: .65rem;
    color: $secondary-black-color;
}

.archive-container .archive-content .text-container .entry-meta span a {
    padding: 2px;
}

.archive-container .archive-content .text-container .entry-summary {
    padding: 0;
    margin: 0;
    font-size: .8rem;
}

.archive-container .archive-content .text-container .entry-summary p {
    font-size: .8rem;
    text-align: justify;
}

@media ( max-width: 992px ) {
    .archive-content .frontpage-header {
        width: 100%;
    }

    .archive-content .line {
        width: 100%;
    }

    .archive-content .themes-thumbnails-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .archive-content .themes-thumbnails-container .theme-thumbnail .text-container .thumbnail-header .entry-title a {
        font-size: 1.1rem;
    }

    .archive-content .themes-thumbnails-container .theme-thumbnail .text-container .thumbnail-header .thumbnail-summary {
        font-size: .7rem;
    }

    .archive-content .themes-thumbnails-container .theme-thumbnail .text-container .read-more-btn {
        font-size: .7rem !important;
    }
}

@media ( max-width: 600px ) {

    .archive-content .themes-thumbnails-container {
        display: block;
    }

    .archive-content .themes-thumbnails-container .theme-thumbnail {
        margin-bottom: 25px;
        padding-bottom: 15px;
        border-bottom: none !important;
    }

    .archive-content .themes-thumbnails-container .theme-thumbnail:last-child {
        border-bottom: none;
    }
}

// Page Content
.entry-header .entry-title {
    padding: 0 0 8px 0;
    margin: 0;
    border-bottom: 1px solid $light-grey-color;
    font-size: 1.5rem;
    font-weight: weight(bold);
}

// Comments Section
.comments-container {
    margin-top: 40px;
}

.comments-container .logged-in-as a {
    color: $logo-blue-color;
    font-size: .85rem;
}

.comments-container .form-top-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

@media(max-width: 767px) {
    .comments-container .form-top-field {
        display: block !important;
    }
}

.comments-container {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $light-grey-color;
}

.comments-container .commenter-details {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 10px !important;
}

.comments-container .comments-area {
    padding: 10px 0 !important;
    margin-bottom: 20px;
}

.comments-container .comments-area .comments-title {
    font-size: 1.4rem;
    font-weight: weight(bold);
    margin-bottom: 15px;

    span {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}

.comments-container .comments-area .comment-list {
    list-style: none !important;
    
    .vcard {
        img {
            border-radius: 50% !important;
            margin-right: 10px;
            margin-bottom: -25px;
        }
    }

    .fn {
        margin-top: -20px;

        a {
            color: $secondary-black-color;
            font-size: 1rem;
        }
    }

    .comment-metadata {
        margin: 0 0 5px 60px !important;
        
        a {
            font-size: .8rem;
            color: $logo-blue-color;
        }
    }

    .comment-content {
        margin: 5px 0 !important;
        padding: 15px 10px;
        border: 1px solid $light-grey-color;
        box-shadow: 0 0 3px 0 rgba( $main-black-color, .25 );
        
        p {
            text-align: justify;
            font-size: .9rem;
        }

        ul, ol {
            margin-left: 20px;
        }

        h1 {
            font-size: 1.2rem !important;
        }

        h2 {
            font-size: 1.1rem !important;
        }
        
        h3 {
            font-size: 1rem !important;
        }

        h4, h5, h6 {
            font-size: .95rem !important;
        }
    }

    .reply {
        margin: 0 0 15px 0 !important;
        text-transform: capitalize;

        a {
            font-size: .85rem;
            font-weight: weight(semi-bold);
            color: $logo-blue-color;
        }
    }

    .children {
        margin-left: 20px;
        padding: 0 !important;
        list-style: none;
    }
}

@media ( max-width: 767px ) {
    .comments-container .commenter-details {
        display: block;
    }

    .comments-container .comments-area .comment-list {
        margin: 0 !important;
    }
}

// 404 Page
.error-404 {
    text-align: center;
}

.error-404 .page-content {
    margin: 0;
}

.not-found-msg {

    .entry-title {
        font-size: 8rem;
        font-weight: weight(bold);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0 !important;
        margin: 0 !important;
    }

    .sub-text-1 {
        font-size: 1.2rem;
        padding: 5px 0 !important;
        margin: -10px 0 0 0 !important;
        font-weight: weight(semi-bold);
    }

    .sub-text-2 {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 1rem;
        font-weight: weight(semi-bold);
    }

}

.not-found-search {
    margin: 20px 0 !important;

    input[type="search"] {
        width: 60%;
        margin: auto;
    }
}

.or {
    font-size: 1.2rem;
    font-weight: weight(semi-bold);
    margin: 20px 0 10px 0;
}

.error-404 .or {
    margin: 20px 0 50px 0;
}

.go-home-button {
    margin: 20px 0 40px 0;

    .home-btn {
        padding: 10px 20px !important;
        font-size: 1.25rem !important;
        font-weight: weight(semi-bold) !important;
        text-decoration: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

// NOT FOUND PAGE
.not-found .entry-header {
    text-align: center;
}

.not-found .entry-header .page-title {
    padding: 10px 0;
}

.not-found .page-content,
.not-found .page-content p {
    text-align: center;
}

.not-found .main-search-form {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.not-found .main-search-form input[type="search"] {
    float: left !important;
    width: 90% !important;
    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.not-found .main-search-form button {
    float: right !important;
    width: 10% !important;
    cursor: pointer;
    border: 1px solid $light-grey-color;
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 10px 0;
}


@media( max-width: 768px ) {
    .not-found-msg .entry-title {
        font-size: 5rem !important;
    }

    .not-found-msg .sub-text-1 {
        font-size: 1rem !important;
    }

    .not-found-msg .sub-text-2 {
        font-size: .85rem !important;
    }

    .go-home-button {
        margin: 10px 0 40px 0 !important;
    }

    .go-home-button .home-btn {
        padding: 8px 15px !important;
        font-size: 1.05rem !important;
    }

    .not-found-search {
        margin: 15px 0 !important;
    }

    .not-found-search input[type="search"] {
        width: 100% !important;
    }

    .not-found .main-search-form {
        margin: 0 !important;
    }

    .not-found .entry-header .page-title {
        padding: 0;
    }   
}

@media( max-width: 400px ) {
    .not-found .main-search-form {
        width: auto;
        margin: auto;
    }
    
    .not-found .main-search-form input[type="search"] {
        float: none !important;
        width: 90% !important;
        border: 1px solid $light-grey-color !important;
        border-radius: 2px !important;
        margin: auto;
    }
    
    .not-found .main-search-form button {
        display: none !important;
    }
}


// Posts Navigation
.site-content .content-wrapper .post-navigation {
    padding: 10px 0;
    margin-bottom: 10px;
}

.site-content .content-wrapper .post-navigation .nav-links a {
    color: $secondary-black-color;
    font-size: .85rem;
    font-weight: weight(semi-bold);
}






